:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #16232c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #1692ae;
  text-decoration: inherit;
}
a:hover {
  color: #107389;
}
header {
  box-shadow: 0 5px 10px rgb(46, 93, 113);

  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  gap: 1.5rem;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
main {
  padding: 1rem;
  max-width: 1000px;
  margin: 1rem auto;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}
.bold {
  font-weight: 700;
}
.post {
  border-top: 1px solid rgb(46, 93, 113);
  padding: 1rem 0;
}
.posts {
  border-top: 1px solid rgb(46, 93, 113);

  margin: 0.5rem 0;
  padding: 1rem;
  cursor: pointer;
  display:block;
}
.posts:hover {
  border-color: #1692ae;
}
.comment {
  border-top: 1px solid rgb(46, 93, 113);
  padding: 0.5rem 0;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #1e5662;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #107389;
  }
  button {
    background-color: #f9f9f9;
  }

  .post {
    border: 1px solid rgb(216, 216, 216);
  }
  .posts {
    border: 1px solid rgb(216, 216, 216);
  }
  .comment {
    border-top: 1px solid rgb(213, 213, 213);
  }

  header {
  box-shadow: 0 5px 10px rgb(211, 211, 211);
  }
}
